<!-- <P>Hola mundo</P>
<p>{{title}}</p>
<p>El apellido de Francisco es {{apellido}} y su edad es {{edad}}</p>

<p>La suma de 2+2 es {{2+2}}</p>

<p>El doble de 3 es {{duplicarNumero(3)}}</p> -->



<!-- <p>Pelicula : {{pelicula.titulo | uppercase}}</p>
<p>Pelicula : {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" | uppercase}}</p>
<p>Pelicula : {{pelicula.precio | currency}}</p> -->



<!-- <h4>Implementacion clasica con *ngFor</h4>

<div *ngFor="let pelicula of peliculas; let indice = index">
  <p>{{indice}}) Pelicula : {{pelicula.titulo | uppercase}}</p>
  <p>Pelicula : {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" | uppercase}}</p>
  <p>Pelicula : {{pelicula.precio | currency}}</p>
</div>

<h4>Implementacion moderna con For</h4>

@for (pelicula of peliculas; track $index) {
<div>
  <p>{{$index}}) Pelicula : {{pelicula.titulo | uppercase}}</p>
  <p>Pelicula : {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" | uppercase}}</p>
  <p>Pelicula : {{pelicula.precio | currency}}</p>
</div>
} -->

<h2>Datos de la pelicula</h2>

@for (pelicula of peliculas; track $index) {
<div class="contenedor-pelicula">
  <div style="display: flex; flex-direction: row; gap: 10px;">
    <div>
      <img [ngSrc]="pelicula.poster" priority width="169" height="250"/>
    </div>
    <div>
      <p>{{$index}}) Pelicula : {{pelicula.titulo | uppercase}}</p>
      <p>Pelicula : {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" | uppercase}}</p>
      <p>Pelicula : {{pelicula.precio | currency}}</p>
    </div>
  </div>
</div>
}